

{% extends "base.html" %}

{% block body %}

<div class="admin-container">
    <div class="card-admin">
        <div class="card-header">
            <h2 class="card-title">Orders</h2>
        </div>
        <div class="card-body">
            <div class="table=container">
                <table class="admin-table">
                    <thead>
                        <tr>
                         <th>name</th>
                         <th> Recorded name </th>
                         <th> status </th>
                         <th>photo</th>
                         <th> action</th>

                    </thead>
                    <tbody>
                        {%for order in orders%}
                         <tr>
                          <td>{{order.user.name}}</td>
                          <td>{{order.recorded.title}}</td>
                          <td>{{order.status}}</td>
                          <td>
                            {%if order.payment_image%}
                            <button class="btn-nav" onclick="openImage('{{ url_for('static', filename='uploads/'+ order.payment_image) }}')">View image</button>
                             {%else%}
                             no image
                             {%endif%}


                          </td>
                            <td>
                                <div class="table-action">
                                        <a href="{{ url_for('recorded.approve_order', id=order.id)}}" class="btn btn-success btn-sm">
                                        <i class="fa-solid fa-check"></i>
                                        Approve
                                     </a>
                                        <a href="{{ url_for('recorded.reject_order', id=order.id)}}" class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-check"></i>
                                        reject
                                     </a>      
                                     </a>
                                        <a href="{{ url_for('recorded.delete_order', id=order.id)}}" class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-check"></i>
                                        delete
                                     </a> 

                                </div>
                            </td>
                         </tr> 
                        {%endfor%}   
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>
<div id="imageModal" class="modal">
    <span class="close" onclick="closeImage()">&times;</span>
    <img id="modalImg">
</div>
{%endblock%}











































